  <h1>List of Insurance Services</h1>

  <div class="container">
   
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <% @insuranceservices.each do |insuranceservice| %>
      <div class="list-group-item clearfix">
        <div class="profile-teaser-main">
          <h2 class="profile-name"><%= link_to insuranceservice.name, "insuranceservices/#{insuranceservice.id}" %></h2>
          <div class="profile-info">
            <p><%= truncate insuranceservice.description, length: 400 %></p>
          </div>
          <div>
            <%= button_to "Read more", "insuranceservices/#{insuranceservice.id}", class: "btn btn-warning btn-sm", method: :get %>
          </div>
        </div>
      </div><!-- item -->
      <% end %>
    </div>
  </div>

  <% if current_user && current_user.is_company %>
  <%= button_to "Add a new service", "insuranceservices/new", class: "btn btn-primary", method: :get %>
  <% end %>