<h1>New Service</h1>
<%= form_tag "/insuranceservices", method: :post do %>

<div class="row">
  <label for="name">Service Name</label><br>
  <input id="name" type="text" name="name" size="30">
</div>
<div class="row">
  <label for="description">Description</label><br>
  <textarea id="description" type="text" name="description" rows="10" cols="60"></textarea> 
</div>
<div class="row">
  <label for="company_name">Company name</label>
  <select name="company_id">
   <option selected="<%= @insuranceservice.company_id %>" disabled selected>Select your option</option>
   <% @companies.each do |company| %>
     <option id="name" type="text" name="insurance_service_id" size="30" value="<%= company.id %>"><%= company.name %></option>
   <% end %>
 </select>
</div>
<div class="row">
  <input type="submit" value="Create">
</div>
<% end %>