<link rel="stylesheet" type="text/css" href="users.scss">
<div id="user" class="container">
  <div class="col-md-6">
    <div id="logbox">
      <%= form_tag '/users', method: :post do %>
      <h1>Sign Up</h1>
      <input type="text" name="first_name" placeholder="First name" required="required" class="input pass" >
      <input type="text" name="last_name" placeholder="Last name" required="required" class="input pass">
      <input type="email" name="email" placeholder="Email address" required="required" class="input pass">
      <input type="password" name="password" placeholder="Choose a password" required="required" class="input pass">
      <input type="password" name="password_confirmation" placeholder="Confirm password" required="required" class="input pass">
      <div>
      <div class="input pass">
      Are you a company?
      <label for="is_company">Yes</label><input type = "radio" id = "is_company" name = "is_company" value = "yes" required="required"/>
      <label for="is_company">No</label><input type = "radio" id = "is_company" name = "is_company" value = "no" required="required"/>
      </div>
      </div>
      <input type="submit" value="Create account" class="inputButton">
      <% end %>
    </div>
  </div>
</div>








