<div class="container">
  
<%= button_to "Sign Up", "/signup", class: "btn btn-primary", method: :get %>
<%= button_to "Login", "/login", class: "btn btn-primary", method: :get %>
<%= button_to "Browse as a Guest", "/companies", class: "btn btn-primary", method: :get %>
</div>