<div>
  <p class="lead"><a class="btn btn-lg btn-info" href="/signup">Sign Up</a></p>
  <p class="lead"><a class="btn btn-lg btn-info" href="/login">Login</a></p>
  <p class="lead"><a class="btn btn-lg btn-info" href="/companies">Browse as a Guest</a></p>
</div>

           