<div class="row" >
    <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://placehold.it/1200x400/16a085/ffffff&text=About Us">
                <div class="carousel-caption">
                    <p>
                        SelfInsure is web application which helps Rwandan citizens to access different insurance services through different insurance companies wherever they are.</p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1200x400/e67e22/ffffff&text=Companies">
                <div class="carousel-caption">
                    <p>
                        We work with insurance companies which operate in Rwanda and together we serve Rwandans</p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1200x400/2980b9/ffffff&text=Services">
                <div class="carousel-caption">
                    <p>
                        Insurance companies are able to show you different services they provide so that they can be accessible to many people in an easy way</p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="http://placehold.it/1200x400/8e44ad/ffffff&text=Contact Us">
                <div class="carousel-caption">
                    <p>
                        Companies would be able to chat with users of thier insurance services after creating accounts and access theit dashboard</p>
                </div>
            </div>
            <!-- End Item -->
        </div>
        <!-- End Carousel Inner -->
        <ul class="nav nav-pills nav-justified">
            <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">About Us<small>SelfInsure is web application which</small></a></li>
            <li data-target="#myCarousel" data-slide-to="1"><a href="#">Companies<small>We work with insurance companies which</small></a></li>
            <li data-target="#myCarousel" data-slide-to="2"><a href="#">Services<small>Insurance companies are able to show</small></a></li>
            <li data-target="#myCarousel" data-slide-to="3"><a href="#">Contact Us<small>Companies would be able to chat with</small></a></li>
        </ul>
    </div>
    <!-- End Carousel -->
</div>
        </div>

    <div class="page-header">
  <h1>How It Works</h1>
</div>

    <div class="container">
          <div class="row pricing">
                        <div class="col-md-6">
            <div class="well">
              <h3><b>Are You an Insurance Company?</b></h3>
              <hr>
              <p><b>Create an account and remember to tick "Yes" where you are asked if you are a company.</b></p>
              <hr>
              <p><b>Create a Company</b></p>
              <hr>
              <p><b>Add Insurance Services that your company provide</b></p>
                            <hr>
              <a href="/login" class="btn btn-default btn-block">Join Now!</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="well">
              <h3><b>Looking for an Insurance Service?</b></h3>
              <hr>
              <p><b>Create your account and remember to tick "No" where you are asked if you are a company.</b></p>
              <hr>
              <p><b>Browse for different companies or insurance services</b></p>
              <hr>
              <p><b>Make a Request if you want to</b></p>
                            <hr>
              <a href="/login" class="btn btn-default btn-block">Join Now!</a>
            </div>
          </div>
                </div>
     </div>



    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
           