<div class="row">
<div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>
 
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <% @users.each do |user| %>
          <% if current_user.is_company == false && user.is_company == true %>
            <li><%= link_to user.company.name, conversations_path(user_id: user), remote: true, method: :post %></li>
          <% elsif current_user.is_company == true && user.is_company == false %>
            <li><%= link_to user.first_name, conversations_path(user_id: user), remote: true, method: :post %></li>
          <% else %>
          <% end %>
        <% end %>
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>
