<h1>New Company</h1>

<% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |message| %>
    <li class="model-errors"><%= message %></li> 
  <% end %>
<% end %>

<%= form_tag "/companies", method: :post do %>
  <div>
    Company Name
  </div>
  <div>
    <input type="text" name="name">
  </div>
  <div>
    Description
  </div>
  <div>
    <input type="text" name="description">
  </div>
  <div>
    <input type="submit" value="Create">
  </div>
<% end %>