<h1>New Company</h1>


<% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |message| %>
    <li class="model-errors"><%= message %></li>
  <% end %>
<% end %>

<%= form_tag "/companies", method: :post do %>
  <div class="row">
    <label for="name">Company Name</label><br>
    <input id="name" type="text" name="name" size="30">
  </div>
  <div class="row">
    <input id="logo" type="url" name="logo" size="30">
  </div>
  <div class="row">
    <label for="description">Description</label><br>
    <textarea id="description" type="text" name="description" rows="10" cols="60"></textarea> 
  </div>
  <div>
    <input type="submit" value="Create">
  </div>
<% end %>